


<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Кинотеатры</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Кинотеатр</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Переключить навигацию">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">

        <li class="nav-item">
          <a class="nav-link" href="/movies">Фильмы</a>
        </li><li class="nav-item">
        <a class="nav-link" href="/movies">Dolby Atmos</a>
      </li><li class="nav-item">
        <a class="nav-link" href="/movies">IMAX</a>
      </li>
        <li class="nav-item" th:if="${currentUser != null}">
          <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <span th:text="${currentUser.name}">Имя пользователя</span>
          </a>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
            <li><a class="dropdown-item" href="/users/profile">Профиль</a></li>
            <li><hr class="dropdown-divider"></li>
            <li>
              <form th:action="@{/admin/logout}" method="post">
                <button type="submit" class="dropdown-item">Выйти</button>
              </form>
            </li>
          </ul>
        </li>
        <li class="nav-item" th:if="${currentUser == null}">
          <a class="nav-link" href="/users/getSignIn">Войти</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container mt-5">
  <h2>Список кинотеатров</h2>
  <div class="row">
    <div th:each="cinema : ${cinemas}" class="col-md-4 mb-4">
      <a th:href="@{/cinemas/{id}(id=${cinema.id})}" class="text-decoration-none">
        <div class="card">
          <img th:src="${cinema.imageLogo}" class="card-img-top" alt="Логотип кинотеатра">
          <div class="card-body text-center">
            <h5 class="card-title" th:text="${cinema.name}"></h5>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>